@font-face {
    font-family: 'CSGarth'; /* Name you want to use in CSS */
    src: url('src/assets/fonts/CSGarth-ExtrudeRight.otf') format('truetype'); /* Path to your font file */
}

/********* COLORS VARIABLES START *********/
:root {
    --color-body: #3d3d3d;
    --color-navbar: #000000;
    --color-logo: #00f000;
    --color-white: #ffffff;
}

/********** COLORS VARIABLES END **********/


/*************** BOBY START ***************/
body{
    background-color: var(--color-body) !important;
}
/***************** BOBY END ***************/


/************** NAVBAR START **************/
nav{
    background: var(--color-navbar);
    height: 45px;
    display: flex;
    box-shadow: 0 1px 6px var(--color-body);
}
nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    text-decoration: none;
    margin: 0;
}
.logo a{
    font-weight: bold;
    color: var(--color-logo);
    font-family: CSGarth;
    font-size: x-large;
}
.logo{
    transition: all .4s ease;
}
.logo:hover{
    transform: scale(1.05);
}
.nav-links ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none; 
    width: 130px;
    padding: 0;
    margin: 0;
}
.nav-links a{
    font-weight: bold;
    font-size: large;
    transition: all .25s ease;
 }
 .nav-links a:hover{
     border-bottom: 4px solid #0dccf0;
}

/*************** NAVBAR END ***************/


/************ SEARCH INPUT START ************/
.search-engine{
    display: flex;
    justify-content: center;
    margin-bottom: 4px;
}
.search-engine input{
    border: none;
    font-size: large;
    height: 35px;
    border-radius: 5px 0 0 5px;
    outline: none;
}
.search-engine button{
    border: none;
    padding-inline: 5px;
    border-radius: 0 5px 5px 0;
    font-weight: bold;
    transition: all .25s ease;
}
.search-engine button:hover{
    background-color: #14b9da !important;
}
/************* SEARCH INPUT END ************/


/* MOVIE CARDS START */
.card{
    overflow: hidden;
    text-decoration: none;
}
.cardImg{
    overflow: hidden;
    aspect-ratio: 3/4 !important;
    background-color: var(--color-navbar) !important;
}
.cardImg img{
    object-fit: cover;
    object-position: top;
}
.card:hover .card-img-top{
    cursor: pointer;
    transform: scale(1.02);
    opacity: .85;
    transition: all ease .25s;
}
.card-title{
    text-transform: capitalize !important;
}
.like-btn,
.play-btn{
    background-color: #ffffff00;
    padding: 0;
    width: 30px;
    height: 30px;
    border: none;
    transition: all ease .15s;
}
.like-btn:hover{
    transform: scale(0.9);
}
.play-btn img{
    width: 25px;
}
.play-btn:hover img{
    transform: scale(0.9) !important;
}
/* MOVIE CARDS END */


/* FOOTER START */
.social-link{
    width: fit-content;
    text-decoration: none;
}
.social-link:hover .link-name{
    color: #14b9da;
    font-size: 16.5px;
}
.link-name{
    transition: all .25s ease;
}
.social-icon{
    width: 35px;
    height: 35px;
    overflow: hidden;
}
.social-icon img{
    width: 100%;
}

/* FOOTER END */

.go-to-top{
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 45px;
    height: 45px;
    border: 4px solid #0dcaf0;
    background-color: var(--color-navbar);
    border-radius: 50%;
}

